<html>
<head>
<title>Map Chooser</title>
<meta name="description" content="Choose the maps service you want to see the location">
<meta name="keywords" content="maps location latitude longitude">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'fav.ico') }}"/>
</head>


<div class="grid-container">
  <div class="grid-item">
    <a href="http://maps.google.com/maps?q={{latitude | safe}},{{longitude | safe}}">
      <img width="200px" src="{{ url_for('static', filename = 'googlemaps.png') }}" alt="">
    </a>
  </div>

  <div class="grid-item"><a
      href="http://www.openstreetmap.org/?mlat={{latitude | safe}}&mlon={{longitude | safe}}&zoom=16">
      <img width="200px"
        src="{{ url_for('static', filename = 'openstreetmap.png') }}"
        alt="">
    </a></div>
  <div class="grid-item"><a
      href="https://duckduckgo.com/?q={{latitude | safe}}%2C+{{longitude | safe}}&ia=web&iaxm=maps">
      <img width="200px" src="{{ url_for('static', filename = 'duckduckgo.jpg') }}" alt="">
    </a></div>
  <div class="grid-item"><a
      href="https://bing.com/maps/default.aspx?cp={{latitude | safe}}~{{longitude | safe}}&lvl=16">
      <img width="200px"
        src="{{ url_for('static', filename = 'bing.webp') }}" alt="">
    </a></div>
  <div class="grid-item">
    <a
      href="magicearth://?open_map&lat={{latitude | safe}}&lon={{longitude | safe}}">
      <img width="200px"
        src="{{ url_for('static', filename = 'magicearth.jpg') }}" alt="">
    </a>
  </div>
  <div class="grid-item"> </div>
  <div class="grid-item"> </div>
  <div class="grid-item"> </div>
  <div class="grid-item"> </div>
</div>



<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 5px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
</style>


</html>